@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.aboutme {
  padding-block: 40px;
  background-color: var(--color-bg-section);
  color: white;

  &__container {
    padding-inline: 30px;
    margin-bottom: 60px;
    @include responsive(laptop) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__info {
    margin-inline: 30px;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__text {
    text-align: justify;
    @include responsive(tablet) {
      font-size: 1.2rem;
    }
  }
}
