@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.card {
  margin-inline: auto;
  margin-bottom: 40px;
  padding-inline: 50px;
  //   border-bottom: 1px dashed var(--color-card-span);

  @include responsive(desktop) {
    margin-bottom: 40px;
  }

  &__span {
    font-size: 25px;
    font-weight: 500;
    color: var(--color-card-span);
    @include responsive(desktop) {
      font-size: 30px;
    }
  }

  &__review {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    @include responsive(desktop) {
      font-size: 22px;
    }
  }
  &__title {
    max-width: 370px;
    color: var(--color-white);
    font-size: 30px;
    @include responsive(desktop) {
      font-size: 40px;
    }
  }

  &__text {
    max-width: 370px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-text);
    line-height: 1.6;
    @include responsive(desktop) {
      font-size: 18px;
    }
  }
}
