@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;
.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 9.375rem;
  background-image: url(../../assets/images/slider-bg-1.jpg);
  background-size: cover;
  height: 919px;
  color: white;
  border-bottom: 0.125rem solid var(--color-header-hover);

  &_logo {
    width: 150px;
    @include responsive(tablet) {
      width: 200px;
    }
  }

  &__info {
    // margin-top: auto;
    text-align: center;
    padding: 0 5rem;
    @include responsive(tablet) {
      padding: 0 3.75rem;
    }
    @include responsive(laptop) {
      padding: 12.5rem 6.25rem;
      font-size: 1.25rem;
    }

    &-p {
      margin-bottom: 3.75rem;
      @include responsive(laptop) {
        margin-bottom: 3.75rem;
      }
      @include responsive(desktop) {
        max-width: 1400px;
        margin-inline: auto;
      }
    }
  }

  &_button {
    padding: 0.9375rem 2.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0.5rem 0.5rem var(--color-header-hover);
    border-radius: 10px;
    @include hover {
      background-color: #e2b7d3;
      color: rgb(29, 29, 29);
    }
    @include responsive(tablet) {
      font-size: 1.125rem;
    }
    @include responsive(laptop) {
      font-size: 1.875rem;
      box-shadow: 0.9375rem 0.9375rem var(--color-header-hover);
    }
  }
}
