@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.news {
  background-color: var(--color-bg-news);

  &__container {
    height: 950px;
    padding-block: 70px;
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;

    @include responsive(laptop) {
      padding-inline: 100px;
      height: 650px;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 150px;
    }
    @include responsive(desktop) {
      height: 600px;
      max-width: 1400px;
      padding-top: 180px;
    }
  }
}
