:root {
  /* Variables CSS */
  --color-header-bg: #081624;
  --color-header-hover: #b01ba5;
  --color-header-shadow: rgba(226, 30, 228, 0.24);
  --color-bg-news: #0c062e;
  --color-card-span: #b01ba5;
}

/* Variables SASS */
