:root {
  /* Variables CSS */
  --color-header-bg: #081624;
  --color-header-hover: #b01ba5;
  --color-header-shadow: rgba(226, 30, 228, 0.24);
  --color-bg-news: #0c062e;
  --color-card-span: #b01ba5;
  --color-bg-section: #351855;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-menu-hover: #25394c;
  --color-text: #68647d;
  --color-copyright: #9190a5;
  --color-button-hover: #f598ef;
}

/* Variables SASS */
